<div class="aboutme" style="margin: 20px;">
    <p>๐ Giรy - Tแบกo nรชn phong cรกch cแปงa bแบกn! ๐</p>
    <p>Mแปi ngฦฐแปi ฤแปu cรณ mแปt phong cรกch riรชng biแปt vร giรy cแปงa chรบng mรฌnh sแบฝ giรบp bแบกn thแป hiแปn ฤiแปu ฤรณ mแปt cรกch hoรn hแบฃo. Hรฃy ฤแป bฦฐแปc chรขn cแปงa bแบกn trแป thรnh lแปi tรขm sแปฑ vแป cรกi tรดi cแปงa bแบกn, vแปi mแปi cแบทp giรy mang nhแปฏng chi tiแบฟt ฤแปc ฤรกo vร phong cรกch riรชng. Tแปซ nhแปฏng bรn chรขn cรก tรญnh ฤแบฟn sแปฑ thanh lแปch tinh tแบฟ, chรบng tรดi tแปฑ hรo mang ฤแบฟn cho bแบกn sแปฑ lแปฑa chแปn hoรn hแบฃo ฤแป tแบกo dแบฅu แบฅn riรชng cแปงa mรฌnh.</p>
    <p>๐ฅ๐ฅ๐ฅ TแบฌN HฦฏแปNG CUแปC SแปNG - ฤรNG GIร MแปI BฦฏแปC CHรN! </p>
</div>